@import 'base/variables';

.card-btn {

  padding-bottom: 15px;

  min-height: 178px;

  .card-img-top {
    color: $app-orange;
    font-size: 45px;
  }

  a {
    text-decoration: none;
    color: $text-gray;
  }

}
