@import 'base/variables';

.attendance-stats {
  padding: 10px;

  border-radius: 4px;
  border: 1px solid;

  .attendance-stats-title {
    font-size: 15px;
  }

  .attendance-stats-count {
    font-size: 24px;
    font-weight: bold;
  }

}

// controle das cores dos status de attendances

.attendance-status {

  &[data-status=sic] {
    background-color: #D9EDF7;
    color: #31708f;

    border-color: #bcdff1;
  }

  &[data-status=sou] {
    background-color: #CDFFE6;
    color: #07655E;

    border-color: #80D6D0
  }

  &[data-status=incomplete] {
    background-color: #eeeeee;
    color: #666666;

    border-color: #dddddd;
  }
}
