@import 'base/variables';

// controle das cores dos status de importadores

.integration-status {

  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;

  &[data-status=in_progress] {
    background-color: $status-blue-light;
    color: $status-blue-text;

    border-color: $status-blue-text;
  }

  &[data-status=success] {
    background-color: $status-green-light;
    color: $status-green-text;

    border-color: $status-green-text;
  }

  &[data-status=fail] {
    background-color: $status-red-light;
    color: $status-red-text;

    border-color: $status-red-text;
  }
}
