// variáveis disponíveis em:
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

$body-bg:                #eeeeee;

$brand-primary:          #3489d1;
$brand-success:          #5cb85c;
$brand-info:             #4585cb;
$brand-warning:          #ecbe3a;
$brand-danger:           #d20911;

$app-green:              #008640;
$app-orange:             #fb6b32;

$navbar-inverse-color:   rgba(255, 255, 255, 0.8);

$navbar-inverse-link-hover-color: red !default;

$text-gray:              #4f4f4f;
$text-gray-light:        #636c72;
$text-gray-lighter:      #aaaaaa;
$text-gray-dark:         #333333;

$font-family-sans-serif: 'Open Sans', sans-serif !default;

$status-green-light:     #dff0d8;
$status-blue-light:      #D9EDF7;
$status-red-light:       #ffcccc;
$status-green-text:      #3c763d;
$status-blue-text:       #31708f;
$status-red-text:        #ff0000;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
) !default;