.dropdown-menu {
	min-width: 14rem;

}
.table-condensed{
	width: 100%;
	.active{
			font-weight:bold;
		}

	.prev{
		font-size: 2rem;
	}
	.next{
		font-size: 2rem;
	}

	.datepicker-switch{
		text-align:center;
		width: 90%;
	}

	tr {
		font-size: 12px;
		line-height: 1;
		.old{
			color:gray;
		}
		.new{
			color:gray;
		}
	}

	tr th{
		padding: 0.3rem;
		font-size: 12px;
		font-weight:bold;
	}

	tr td{
		padding: 0.3rem;
		.active{
			font-weight:bold;
		}

	}

	td {
		.month{
			padding:2px;
		}
		.year{
			padding:2px;	
		}
		.decade{
			padding:2px;	
		}
		.century{
			padding:2px;	
		}
	
		spam .month{
			padding:2px;
		}
		spam .month.focused{
			font-weight:bold;
		}

		
	}
}

