<p id="notice"><%= notice %></p>

<p>
  <strong>Current:</strong>
  <%= @collect.current %>
</p>

<p>
  <strong>Previous:</strong>
  <%= @collect.previous %>
</p>

<p>
  <strong>Date:</strong>
  <%= @collect.date %>
</p>

<%= link_to 'Edit', edit_collect_path(@collect) %> |
<%= link_to 'Back', collects_path %>
