@import 'bootstrap/variables';

@media (max-width: map-get($grid-breakpoints, "md")) {
  .sou-types-btn-group {
    .btn {
      padding: 0.2em;
      font-size: 0.8em;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
  .sou-types-btn-group {
    .btn {
      padding: 0.1em;
      font-size: 0.7em;
    }
  }
}

.modal {

  .modal-footer {
    justify-content: space-between;
  }

  .modal-title {
    font-size: 20px;
  }

}

.ticket_document_type {
  margin-bottom: 5px;
}

