@import 'base/variables';

ul.tickets-list {
  padding: 0;
}

.ticket-card {

  .card-header {
    padding: 0;

    .card-title {
      padding: 16px;

      float: left;
      padding: 0.4em;
      margin: 0;

      font-size: 22px;
    }

    .card-block {
      padding: 15px;
    }

    .card-commands {
      float: right;

      padding: 0.3em;

      a {
        font-size: 13px;
      }

      .btn {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }

  .content-with-label {
    label {
      margin-top: 0;
    }
  }

  mark {
    padding: 0.2em 0;
  }
}
