@import 'base/variables';

.btn-group-justified {
  display: flex;
  width: 100%;

  .btn, .btn-group {
    flex: 1;

    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}
