@import 'base/variables';

.card-custom {

  margin-top: 20px;

  .card-header {
    background: none;
  }

  h2.card-title {
    margin-bottom: 0;

    font-size: 21px;
  }

  h3.card-title {
    margin-bottom: 0;

    font-size: 20px;
  }

  h3.card-subtitle,
  h4.card-subtitle {
    margin-bottom: 0;
    margin-top: 10px;

    font-size: 18px;
    font-weight: bold;
  }
}

.card-collapsable {

  .card-header {
    background: none;
    padding: 0;
  }

  h3.card-title {
    margin-bottom: 0;
    padding: 0.75rem 1.25rem;

    font-size: 20px;
  }

  .card-collapse-icons {
    float: right;

    a {
        display: block;
        padding: 0.7rem 1.2rem 0.6rem 1.75rem;
        text-align: right;

        color: $text-gray;
        text-decoration: none;

      .fa.card-collapse-icon-down {
        display: none;
      }

      &.collapsed {
        .fa.card-collapse-icon-down {
          display: initial;
        }

        .fa.card-collapse-icon-up {
          display: none;
        }
      }
    }
  }
}
