@import 'base/variables';
// @import 'select2';

label {
  color: $text-gray-light;
}

select:disabled, select.custom-select:disabled {
  color: $text-gray-lighter;
}


[data-toggle="radio-buttons"] > .btn input[type="radio"],
[data-toggle="radio-buttons"] > .btn input[type="checkbox"],
[data-toggle="radio-buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="radio-buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
