@import 'base/variables';

.navbar {
  background-color: $app-green;

  .fa {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .nav-item {
    max-width: 100px;
    margin-right: 5px;

    font-size: 11px;
    text-transform: uppercase;

    &:hover {
        color: white;
        text-decoration: none;
      }
  }

  .dropdown {
    max-width: 130px;
  }

  .dropdown-menu {
    a {
      display: block;
      padding: 3px 20px;
      clear: both;
      color: #636c72;
      white-space: nowrap;
      font-size: 11px;
      text-decoration: none;

      &:hover {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
      }
    }

    .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }
  }

  .navbar-active-indicator {
    display: none;
    height: 0;

    color: $app-orange;

    .fa {
      font-size: 44px;
    }
  }

  .active {
    .navbar-active-indicator {
      display: block;
    }
  }

  .navbar-link-text {
    min-height: 34px;
  }

  .navbar-toggler {
    margin-top: 22px;
  }
}

.inner_navbar {
   /* padding do inner_navbar deve ser similar a do breadcrumb */
   // padding: 0.75rem 1rem;

   float: right;

   .nav-item {
    font-size: 14px;

    .nav-link.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.navbar-bottom-line {
  margin-bottom: 12px;

  border-top: 6px solid transparent;
  border-bottom: 6px solid $app-orange;
}

@media (max-width: map-get($grid-breakpoints, "lg")) {

  .navbar {

    .container {
      width: 100%;
    }

    .navbar-nav {
      padding-right: 18px;

      .nav-item {
        display: block;
        margin: auto;

        width: 100%;
        max-width: initial;
        margin-right: 28px;

        font-size: 15px;
        text-align: right;
      }
    }

    .navbar-brand {
      img {
        margin-top: 10px;
        width: 220px;
      }
    }

    .navbar-link-text {
      min-height: initial;
    }

    .dropdown-menu {
      border: none;
      background-color: $app-green;

      a {
        color: rgba(255, 255, 255, 0.8);
        text-align: right;
      }

      .divider {
        background-color: $app-green;
      }
    }
  }

  .inner_navbar {
    .nav-item {
      font-size: 13px;
    }
  }
}
