@import 'base/variables';

.content-hidden {
  display: none;
}


.content-with-label {

  font-size: 15px;

  p.content-label {
    color: lighten($text-gray-light, 8);

    margin-bottom: 0;
    margin-top: 1em;
  }

  p.content-value {
    color: $text-gray;
    word-break: break-all;

    em {
      color: $text-gray-light;
      font-weight: 300;
    }
  }
}
