@import 'base/variables';

footer {

  .footer-top-line {
    /* só exibida na home (ver home/index.scss) */
    display: none;

    border-top: 6px solid transparent;
    border-bottom: 6px solid $app-orange;
  }

  .footer-content {
    padding: 40px 0;
  }

  color: $text-gray-light;
  font-size: 12px;
}
