@import 'base/variables';

table {

  &.table-sorted {
    th {
      .fa {
        visibility: hidden;
      }
    }
  }

  &.table-small {
    td {
      font-size: 12px;
    }
  }

  &.table-header-med {
    th {
      font-size: 12px;
    }
  }

  tr {

    th {

      padding: 0.75rem 0;


      a > span {
        display: block;
      }

      .sorted {
        .fa {
          visibility: visible;
          float: right;
        }

        .fa-sort-asc {
          margin-top: 7px;
          margin-right: 7px;
        }

        .fa-sort-desc {
          margin-right: -7px;
        }
      }

      .sorted.desc {
        .fa-sort-asc {
          visibility: hidden;
        }
      }

      .sorted.asc {
        .fa-sort-desc {
          visibility: hidden;
        }
      }
    }

    td {

      a {
        display: block;

        // min-height é importante para links na tabela que não tenham
        // conteúdo, como um ticket que não tenha nome, para que o
        // link ocupe todo o espaço da td.
        min-height: 38px;

        padding: 8px;

        text-decoration: none;

        color: $text-gray;

        font-size: 14px;

        &:hover {
          text-decoration: none;

        }

        
      }
      
      a.text-small{
          font-size: 12px;
        }

      a.hover-link {
        font-size: 14px;
        opacity: 0.4;
      }

      &:hover {
        a.hover-link {
          opacity: 1;
        }
      }
    }

    mark {
      padding: 0.2em 0;
    }
  }

  tr td.td-small
  {
    width: 12px;
  }

  
}

.active {
  
  color: #21b384;
 
}