@import 'base/variables';

// @import 'bootstrap';
// @import 'components/bootstrap-datetimepicker-custom';


@import 'bootstrap';
// @import 'bootstrap-datepicker';


// vendor
// @import 'googleapis';


abbr[title] {
  text-decoration: none;
}

h3 {
  font-size: 1.70rem;
}

table tr {
  min-height: 38px;
  padding: 8px;
  text-decoration: none;
  color: #4f4f4f;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
	line-height: 1.5;
}

table th {
  color: #3489d1;
  text-align: left;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

table th:hover {
  color: #226196;
}

/* Alteração baixo realizada por saulo. SObrescrevendo o parão bootstrap para alinhar com o padrão do estado */
a.btn-secondary {  
  background-color: #fc6836;
  border-color: #fc6836;
  color: white;
  &:hover {
    color: white;
    background-color: #f89877;
    border-color: #f89877;
  }
  
}

a.btn-primary {  
  background-color: #00853B ;
  border-color: #00853B ;
  color: white;
  &:hover {
    background-color: #00853B80;
    border-color: #00853B80;
  }
  
}

a.btn-secondary2 {
  color:#292b2c;
  background-color:#fff;
  border-color:#ccc;
  &:hover {
    color:#292b2c;
    background-color:#e6e6e6;
    border-color:#adadad
  }
}

input.btn-secondary {  
  background-color: #fc6836;
  border-color: #fc6836;
  color: white;
  &:hover {
    color: white;
    background-color: #f89877;
    border-color: #f89877;
  }
  
}

input.btn-primary {  
  background-color: #00853B ;
  border-color: #00853B ;
  color: white;
  &:hover {
    background-color: #00853B80;
    border-color: #00853B80;
  }
  
}

input.btn-secondary2 {
  color:#292b2c;
  background-color:#fff;
  border-color:#ccc;
  &:hover {
    color:#292b2c;
    background-color:#e6e6e6;
    border-color:#adadad
  }

}