= javascript_include_tag('https://use.fontawesome.com/0e2d62fd8a.js')
= javascript_include_tag('https://www.google.com/recaptcha/api.js')

%meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
%meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}/

%title= "e-Prazos"


= favicon_link_tag(source='favicon.ico')

- # versão 4.0.3 tem problema de manter foco ao selecionar elemento
- # https://github.com/select2/select2/issues/4384#issuecomment-228464364
- select2_version = '4.0.2'
- flexdatalist_version = '2.2.2'

/ = stylesheet_link_tag("https://cdnjs.cloudflare.com/ajax/libs/select2/#{select2_version}/css/select2.min.css")
/ = stylesheet_link_tag("https://cdnjs.cloudflare.com/ajax/libs/jquery-flexdatalist/#{flexdatalist_version}/jquery.flexdatalist.min.css")
/ = stylesheet_link_tag("https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css")
= stylesheet_link_tag(:application, media: :all)
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

= yield(:stylesheet)
= csrf_meta_tags
