%nav.navbar.navbar-toggleable-md.navbar-inverse
  .container
    - if user_signed_in?
      %h1.navbar-brand{title: t('app.title') }
        %a{href: root_path}
          = navbar_brand_image

    
        %button.navbar-toggler.navbar-toggler-right{ type: 'button', data: { toggle: 'collapse', target: '#navbar-toggleable', 'aria-controls': 'navbar-toggleable', 'aria-expanded': 'false', 'aria-label': t('shared.navbar.toggle_navigation') } }
          %span.navbar-toggler-icon

      %ul.navbar-nav.ml-auto
        .collapse.navbar-collapse.text-center.text-white{:id => "navbar-toggleable"}
          %ul.navbar-nav.ml-auto        
            %li.nav-item
              = link_to 'proceeding_confirmation_path', class: "nav-link #{navbar_proceedings_list.include?(controller_path)  ? 'active' : ''}" do
                %i.fa.fa-file-text.d-block.hidden-md-down{ 'aria-hidden': 'true' }
                = t('nav.proceedings')
                %br
                %br
                .navbar-active-indicator.hidden-md-down
                  %i.fa.fa-caret-up{'aria-hidden': 'true'}
            %li.nav-item
              = link_to 'registers_path', class: "nav-link #{navbar_registers_list.include?(controller_path)  ? 'active' : ''}" do
                %i.fa.fa-pencil-square.d-block.hidden-md-down{ 'aria-hidden': 'true' }
                = t('nav.registers')
                %br
                %br
                
                .navbar-active-indicator.hidden-md-down
                  %i.fa.fa-caret-up{'aria-hidden': 'true'}
            %li.nav-item
              = link_to root_path, class: 'nav-link' do
                %i.fa.fa-bar-chart.d-block.hidden-md-down{ 'aria-hidden': 'true' }
                = t('nav.reports')
                %br
                %br
            %li.nav-item
              = link_to  destroy_user_session_path, method: :delete, class: 'nav-link' do
                %i.fa.fa-sign-out.d-block.hidden-md-down{ 'aria-hidden': 'true' }
                = t('nav.exit')
                %br
                %br
    - else
      %h1.navbar-brand{title: t('app.title') }
        %a{href: root_path}
          = navbar_brand_image_min_right
.navbar-bottom-line
