- if user_signed_in?
  .toolbar
    .row
      .toolbar-content.col-xl-6.col-md-12
      .toolbar-content.col-xl-6.col-md-12
        .float-right
          .float-left
            .dropdown
              %a.btn.btn-secondary2.dropdown-toggle{ href: '#!', id: 'dropdownMenuLink', 'data-toggle':'dropdown', 'aria-haspopup':'true', 'aria-expanded':'false'}
                %i.fa.fa-bell{'aria-hidden':'true'}

                - total_unread = 1
                - last_notifications = nil

                - if total_unread > 0
                  %span.notification.badge.badge-danger
                    = total_unread > 99 ? '+99' : total_unread

              .dropdown-menu{'aria-labelledby':'dropdownMenuLink'}
                - max_number_of_notifications = 5

                - if (last_notifications == nil or last_notifications.empty?)
                  %i.dropdown-item
                    = t('toolbar.notifications.empty')
                - else
                  = link_to last_notifications, root_path
                  %hr
                  = link_to root_path, class: 'dropdown-item', title: t('main.buttons.ver_todos') do
                    = 'Ver mais...'

          .float-left.ml-3
            .dropdown
              %a.btn.btn-secondary2.dropdown-toggle{ href: '#!', id: 'dropdownMenuLink', 'data-toggle':'dropdown', 'aria-haspopup':'true', 'aria-expanded':'false'}
                %i.fa.fa-user{'aria-hidden':'true'}
                - if !current_user.nil?
                  /= current_user


              .dropdown-menu{'aria-labelledby':'dropdownMenuLink'}
                %spam.dropdown-item
                  %i.fa.fa-home{'aria-hidden':'true'}
                  = link_to 'Administrador', root_path # link_to current_user.profile.description, edit_user_path(id: current_user.id)

                .dropdown-divider

                = link_to destroy_user_session_path , method: :delete, class: 'dropdown-item' do

                  %i.fa.fa-sign-out{'aria-hidden':'true'}
                  = t('toolbar.logout')