!!! 5
%html{lang: 'pt-BR'}
  %head
    = render 'layouts/head'
  %body
    = render 'layouts/ribbon'
    = render 'layouts/navbar'
    .container
      -# if user_signed_in?
      = render 'layouts/toolbar'
      = yield 


  %footer
    = render 'layouts/footer'